<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: steelblue;color:white;font-size:24px; padding:10px">
    <div style="background-color: steelblue;" class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 1.7rem;">Shopping-Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/new">Add Product</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <% if(currentUser){ %>
                <li class="nav-item">
                    <a href="#" class="nav-link text-capitalize">Hi, <%= currentUser.username %>!</a>
                </li>
                <li style="background-color:#0000007e;box-sizing:border-box;  border-radius: 5px;margin-left:30px; height: 45px; padding: 1px 10px 1px 10px;" class="nav-item">
                    <a style="color:#e7e6e6;font-size:18px"  class="nav-link" href="/logout">Logout</a>
                </li>
                <% }else{ %>
                    <li style="background-color:#0000007e;box-sizing:border-box;  border-radius: 5px;margin-right:30px" class="nav-item">
                        <a style="color:#e7e6e6;font-size:18px" class="nav-link" href="/login">Login</a>
                    </li>
                    <li style="background-color:#0000007e;box-sizing:border-box;  border-radius: 5px;" class="nav-item">
                        <a style="color:#e7e6e6;font-size:18px" class="nav-link" href="/register">SignUp</a>
                    </li>
                <% } %>
            </ul>

        </div>
    </div>
</nav>